services:
  web:
    image: nginx:alpine
    container_name: web
    ports:
      - "8081:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d:ro
    depends_on:
      app:
        condition: service_healthy

    restart: unless-stopped

    app:
    build:
      context: ./app
    container_name: app
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000', timeout=2).read()"]
      interval: 10s
      timeout: 3s
      retries: 3


 db:
    image: postgres:16-alpine
    container_name: db
    environment:
      POSTGRES_USER: devops
      POSTGRES_PASSWORD: devops
      POSTGRES_DB: devopsdb
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  db_data:
